# Python
venv/
front/venv/
__pycache__/
*.pyc
.dev.vars
# Node
node_modules/
front/node_modules/

# Build output
dist/
front/dist/

# VS Code
.vscode/
front/.vscode/

# Secrets
serviceAccountKey.json
.env
.env.*

run.sh
gen.py
# Local backend secrets (NEVER PUSH THIS)
# Wrangler
.wrangler/
.wrangler.toml
.dev.vars
.dev.vars
.wrangler/
.pycache/
.py
